/* general */

@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
    --pr-color: #06283D;
    --sc-color: #1363DF;
    --th-color: #47B5FF;
    --tx-color: #DFF6FF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323';
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
    font-size: 10px;
    background-color: var(--sc-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* calculator */

h1 {
    font-size: 7rem;
}

.header-div {
    width: 588px;
}

.calculator {
    width: 548px;
    display: grid;
    background-color: var(--pr-color);
    padding: 20px;
    font-size: 4rem;
    grid-template-areas:
        'text text text text'
        'clear dvs mul sub'
        'seven eight nine sum'
        'four five six sum'
        'one two three enter'
        'zero zero dot enter';
    gap: 5px;
}

.text {
    grid-area: text;
    height: 100px;
    font-size: 6rem;
    background-color: var(--tx-color);
    text-align: right;
    padding: 10px;
    outline: 0;
    border: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--th-color);
    min-height: 100px;
    min-width: 133.25px; 
}

.btn-hover {
    background-color: #73c7ff;
}

.btn-on {
    background-color: #06283D;
    color: var(--tx-color);
}

.zero {
    grid-area: zero;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.sum {
    grid-area: sum;
}
.sub {
    grid-area: sub;
}
.mul {
    grid-area: mul;
}
.dvs {
    grid-area: dvs;
}
.enter {
    grid-area: enter;
}
.clear {
    grid-area: clear;
}
